html{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #ffcccc;
    
}
#lot{
    width: 500px;
    height: 200px;
    background-color: white;
}
p.simple{
    font-size: 50px;
}
.nav {
    display: flex;
    width: 50%;
    list-style-type: none;
    justify-content: space-around;
    
    
}
p{
    color: black;
}

a{
    text-decoration:none;
    color: black;
}